@import "base"
.bg-103
    position: relative
    &:before
        content: ' '
        position: fixed
        z-index: -1
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-color: #eb3b40


.share103-qr
    margin: 1.5rem 0 0
    background: url(../images/201801/bg_after.jpg) no-repeat center center
    background-size: cover
    padding-top: 151%
    position: relative
    .title
        position: absolute
        top: 37%
        left: 0
        right: 0
        text-align: center
        color: #fff
        display: block
        .top
            font-size: 2.2rem
        .qrcode
            padding-top: 4rem
            text-align: center
            img
                width: 18rem
                height: 18rem


.share103-wrap
    background: url(../images/201801/bg_before.jpg) no-repeat center center
    background-size: cover
    padding-top: 161%
    position: relative
    .title
        position: absolute
        top: 3.5rem
        left: 0
        right: 0
        text-align: center
        color: #eb3b40
        display: block
        .top
            font-size: 1.5rem
            padding-bottom: 1rem
        .big
            font-size: 10rem
            font-weight: $weightBold
            em
                font-size: 4rem
        .tip
            color: #886a44
            font-size: 1.5rem
        .action
            padding: 1.2rem 5rem
            a
                background: url(../images/201801/bg_btn.png) no-repeat center center
                display: block
                height: 4.2rem
                background-size: 100% 100%
                color: #eb3b40
                font-size: 1.6rem
                line-height: 4rem

