@import "base"

.zone-grid
    display: flex
    flex-flow: row wrap
    align-content: flex-start
    li
        box-sizing: border-box
        background-color: white
        flex: 0 0 33.3%
        height: 9rem
        border-right: 1px solid $borderColor
        border-bottom: 1px solid $borderColor
        text-align: center
        font-size: 1.2rem
        @include displayFlexVAlign
        padding: .3rem
        a
            display: block
            padding-top: 5.5rem
