body, html {
  font-size: 10px;
  font-size: -moz-calc(100vw / 32);
  font-size: -webkit-calc(100vw / 32);
  font-size: calc(100vw / 32);
  color: #333;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%; }

body, html, a, p, ul, div, h4, h5, h6, .main-wrap {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; }

body {
  background-color: #fff; }

body, a, div, p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.4rem; }

a {
  color: #333;
  cursor: pointer;
  text-decoration: none; }
  a.disabled, a.disabled:active {
    color: #aaa; }

em, i, b {
  font-weight: normal;
  font-style: normal; }

ul {
  list-style: none; }

input, select, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

main {
  position: relative;
  padding-bottom: 7rem; }
  main.bg-lighter {
    background: #fbd2e0; }

.none {
  display: none !important; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: block;
    line-height: 0;
    content: ""; }
  .clearfix:after {
    clear: both; }

.space {
  display: inline-block;
  width: 1rem; }

.space2 {
  display: inline-block;
  width: 2rem; }

.center {
  text-align: center; }

.font12 {
  font-size: 1.2rem; }

.bg-santa {
  position: relative; }
  .bg-santa:before {
    content: " ";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #dcf0f9; }

.santa-header {
  background: url(../images/santa/bg_header0.jpg) no-repeat center top;
  background-size: 100% 100%;
  padding-top: 100%;
  position: relative; }
  .santa-header .props {
    position: absolute;
    left: 2.5rem;
    right: 2.5rem;
    bottom: 2rem;
    padding: 0;
    margin: 0; }
    .santa-header .props li {
      float: left;
      width: 20%;
      text-align: center; }
      .santa-header .props li h4 {
        font-size: 1rem;
        line-height: 1.6rem; }
      .santa-header .props li a {
        width: 90%;
        height: 2rem;
        text-align: center;
        color: #fff;
        font-size: 1rem;
        background-color: #dd0419;
        padding: 0.2rem 0.4rem;
        border-radius: 0.3rem; }
      .santa-header .props li .prop {
        height: 4rem; }
        .santa-header .props li .prop.prop-sugar {
          background: url(../images/santa/prop_sugar.png) no-repeat center center;
          background-size: 4rem 4rem; }
        .santa-header .props li .prop.prop-hat {
          background: url(../images/santa/prop_hat.png) no-repeat center center;
          background-size: 4rem 4rem; }
        .santa-header .props li .prop.prop-sock {
          background: url(../images/santa/prop_sock.png) no-repeat center center;
          background-size: 4rem 4rem; }
        .santa-header .props li .prop.prop-olaf {
          background: url(../images/santa/prop_olaf.png) no-repeat center center;
          background-size: 4rem 4rem; }
        .santa-header .props li .prop.prop-tree {
          background: url(../images/santa/prop_tree.png) no-repeat center center;
          background-size: 4rem 4rem; }

.santa-body {
  padding: 0 1rem; }
  .santa-body .bg-title {
    background: url(../images/santa/bg_header1.png) no-repeat center top;
    background-size: 100% 100%;
    padding-top: 35%; }
  .santa-body .bg-tail {
    background: url(../images/santa/bg_bottom0.png) no-repeat center top;
    background-size: 100% 100%;
    padding-top: 20%; }
  .santa-body .content {
    background-image: url(../images/santa/bg_padding.png);
    background-repeat: repeat-y;
    background-size: 30rem 1.4rem; }
  .santa-body .bags {
    padding: 1rem 3rem 0; }
    .santa-body .bags > li a {
      margin-top: 1rem;
      height: 5rem;
      display: block; }
      .santa-body .bags > li a.btn-yuand {
        background: url(../images/santa/bag_yuand_btn.png) no-repeat center center;
        background-size: 90% 3rem; }
      .santa-body .bags > li a.btn-shengd {
        background: url(../images/santa/bag_sehngd_btn.png) no-repeat center center;
        background-size: 90% 3rem; }
      .santa-body .bags > li a.btn-lianl {
        background: url(../images/santa/bag_lianl_btn.png) no-repeat center center;
        background-size: 90% 3rem; }
    .santa-body .bags > li:after {
      content: "";
      background: url(../images/santa/spliter.png) no-repeat center center;
      background-size: 100% 1px;
      display: block;
      height: 2.4rem; }
    .santa-body .bags > li:last-child:after {
      display: none; }
    .santa-body .bags .bag-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      color: #fff;
      font-size: 1.1rem; }
      .santa-body .bags .bag-wrap .bag {
        -webkit-box-flex: 0 0 10rem;
        -webkit-flex: 0 0 10rem;
        -ms-flex: 0 0 10rem;
        flex: 0 0 10rem;
        height: 10rem; }
        .santa-body .bags .bag-wrap .bag.bag-yuand {
          background: url(../images/santa/bag_yuand.png) no-repeat center top;
          background-size: 100% 100%; }
        .santa-body .bags .bag-wrap .bag.bag-shengd {
          background: url(../images/santa/bag_shengd.png) no-repeat center top;
          background-size: 100% 100%; }
        .santa-body .bags .bag-wrap .bag.bag-lianl {
          background: url(../images/santa/bag_lianl.png) no-repeat center top;
          background-size: 100% 100%; }
      .santa-body .bags .bag-wrap .desc {
        padding-left: 4rem;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        justify-content: center;
        align-items: center;
        align-self: center; }

.santa-footer {
  background: url(../images/santa/bg_bottom1.png) no-repeat center top;
  background-size: 100% 100%;
  padding-top: 62.5%;
  position: relative; }
  .santa-footer .content {
    position: absolute;
    bottom: -1rem;
    left: 1.2rem;
    right: 1.2rem; }
    .santa-footer .content h4 {
      font-weight: 500;
      font-size: 1.3rem; }
    .santa-footer .content ol {
      margin: 0;
      padding: 0 0 0 1.5rem;
      font-size: 1rem;
      font-weight: 400; }
      .santa-footer .content ol b {
        color: #dd0419; }

.santa-footer-padding {
  height: 4rem;
  background: #ecf2f8; }

.santa-alert {
  background: url(../images/santa/bg_popup_prop.png) no-repeat center center;
  height: 35rem;
  background-size: 100% 35rem;
  position: relative; }
  .santa-alert .btn-close {
    position: absolute;
    height: 3rem;
    width: 3rem;
    background: url(../images/santa/btn_close.png) no-repeat center center;
    background-size: 100% 100%;
    right: 0;
    top: 0;
    opacity: 0.7; }
  .santa-alert .image {
    height: 8rem;
    padding-top: 11rem; }
    .santa-alert .image img {
      height: 8rem;
      width: 8rem;
      vertical-align: middle; }
  .santa-alert .text {
    margin-top: 1rem;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    font-weight: 400; }
  .santa-alert .btn {
    position: absolute;
    bottom: 4rem;
    left: 0;
    right: 0; }
    .santa-alert .btn a {
      background: url(../images/santa/btn01.png) no-repeat center bottom;
      background-size: 60% 4.5rem;
      display: block;
      color: #dd0419;
      line-height: 5.1rem;
      font-size: 1.8rem; }

/*# sourceMappingURL=dev.css.map */
