@import "base"
.zone-top
    background: white
    padding-top: 1rem
    li
        @include displayFlex
        .left
            @include displayFlex-w(8rem)
            text-align: center
            &.level
                border-right: 1px solid $borderColorLight
                @include displayFlexVAlign
                div
                    display: inline-block
                    width: 5.7rem
                    height: 2.5rem
                    line-height: 2.5rem
                    background-image: url(../images/sprite_lv.png)
                    background-size: 5.7rem 10rem
                    background-repeat: no-repeat
                    color: white
                    font-size: 1.4rem
                    font-family: Verdana
                    padding-right: .8rem
                    text-align: right
                    @include borderBox
                    &.level-1
                        background-position: 0 -0rem
                    &.level-2
                        background-position: 0 -2.5rem
                    &.level-3
                        background-position: 0 -5rem
                    &.level-3
                        background-position: 0 -7.5rem
            .avatar
                background-position: center
                background-repeat: no-repeat
                background-size: cover
                width: 6rem
                height: 6rem
                display: inline-block
                border-radius: 3rem
                overflow: hidden
        .flex-1
            @include displayFlex-1
            justify-content: center
            align-items: center
            align-self: center
            padding: .5rem
            h6
                padding-left: .6rem
                font-size: 1.2rem
                padding-bottom: .4rem
            .percent
                background: $borderColorLight
                height: .8rem
                border-radius: .4rem
                position: relative
                margin-left: .5rem
                margin-right: 1rem
                em
                    background: #d15d85
                    border-radius: .4rem
                    height: .8rem
                    position: absolute
                    left: 0
                    top: 0
                b
                    position: absolute
                    right: 1rem
                    top: -1.8rem
                    font-size: 1rem
                    color: #d15d85
            &.profile
                position: relative
                display: block
                &:after
                    content: ''
                    @include arrowRight
                    right: 1.2rem
                h4
                    font-size: 1.6rem
                    @include textTail

.zone-album
    @include displayFlex
    margin: 0
    padding: .3rem .6rem 1rem
    flex-flow: row wrap
    align-content: flex-start
    background-color: white
    position: relative
    &:after
        content: ''
        @include arrowRight
        right: 1.2rem
    li
        flex: 0 0 6rem
        height: 6rem
        padding: .6rem
        @include borderBox
        a
            border: 1px solid $mainColorLight
            display: inline-block
            width: 4.8rem
            height: 4.8rem
            border-radius: .3rem
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            &.add
                border: 1px dashed $borderColor
                position: relative
                &:before
                    content: ''
                    position: absolute
                    left: 50%
                    top: 1.2rem
                    height: 2.4rem
                    width: 1px
                    background: $borderColor
                &:after
                    content: ''
                    position: absolute
                    left: 1.2rem
                    top: 50%
                    height: 1px
                    width: 2.4rem
                    background: $borderColor

.zone-favor-nav
    @include displayFlex
    border-top: 1px solid $borderColorLight
    background: #fff
    padding-top: .2rem
    padding-bottom: .2rem
    li
        @include displayFlex-1
        @include borderBox
        text-align: center
        height: 3.8rem
        border-right: 1px solid $borderColorLight
        padding: 0 .2rem
        &:last-child
            border-right: none
        a
            display: block
            text-align: center
            height: 100%
            line-height: 3.8rem
            @include borderBox
            font-size: 1.2rem
            &:active
                background-color: $borderColorLight

.zone-grid
    display: flex
    flex-flow: row wrap
    align-content: flex-start
    li
        background-color: white
        flex: 0 0 33.3%
        height: 8.5rem
        border-right: 1px solid $borderColorLight
        border-bottom: 1px solid $borderColorLight
        text-align: center
        font-size: 1.2rem
        @include displayFlexVAlign
        @include borderBox
        padding: .2rem
        &:nth-child(3n+3)
            border-right: none
        a
            display: block
            background-color: white
            text-align: center
            height: 100%
            @include borderBox
            padding-top: 1rem
            &:active
                background-color: $borderColorLight
            em
                display: block
                line-height: 1.7rem
                font-size: 1.2rem
        .i-zone-grid
            display: inline-block
            padding: 0
            margin: 0
            width: 4rem
            height: 4rem
            background-image: url(../images/sprite_me.png)
            background-size: 4rem 48rem
            background-repeat: no-repeat
            &.wallet
                background-position: 0 -24rem
            &.sign
                background-position: 0 -0rem
            &.date
                background-position: 0 -28rem
            &.cert
                background-position: 0 -8rem
            &.notice
                background-position: 0 -44rem
            &.rank
                background-position: 0 -16rem
            &.comment
                background-position: 0 -40rem
            &.feedback
                background-position: 0 -12rem
            &.setting
                background-position: 0 -40.5rem
            &.protocol
                background-position: 0 -4rem



