body, html {
  font-size: 10px;
  font-size: -moz-calc(100vw / 32);
  font-size: -webkit-calc(100vw / 32);
  font-size: calc(100vw / 32);
  color: #333;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%; }

body, html, a, p, ul, div, h4, h5, h6, .main-wrap {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; }

body {
  background-color: #fff; }

body, a, div, p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.4rem; }

a {
  color: #333;
  cursor: pointer;
  text-decoration: none; }
  a.disabled, a.disabled:active {
    color: #aaa; }

em, i, b {
  font-weight: normal;
  font-style: normal; }

ul, li {
  list-style: none; }

input, select, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

main {
  position: relative;
  padding-bottom: 7rem;
  height: 100%; }
  main.bg-lighter {
    background: #fbd2e0; }

section {
  height: 100%; }

.none {
  display: none !important; }

.hide {
  visibility: hidden !important; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: block;
    line-height: 0;
    content: ""; }
  .clearfix:after {
    clear: both; }

.space {
  display: inline-block;
  width: 1rem; }

.space2 {
  display: inline-block;
  width: 2rem; }

.center {
  text-align: center; }

.font12 {
  font-size: 1.2rem; }

@-webkit-keyframes kf_heart_beat {
  0% {
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 65%; }
  10% {
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 50% 65%; }
  50% {
    -webkit-transform: scale(1.2);
    -webkit-transform-origin: 50% 65%; }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 65%; } }
.heart-beat {
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 0.32s;
  -webkit-animation-fill-mode: both; }

.heart-beat {
  -webkit-animation-name: kf_heart_beat; }

.zone_container_top {
  background: #fff;
  border-bottom: 1rem solid #eee; }
  .zone_container_top .zone_container_top_bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 6rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .zone_container_top .zone_container_top_bar li {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      justify-content: center;
      align-items: center;
      align-self: center; }
      .zone_container_top .zone_container_top_bar li a {
        font-size: 1.2rem;
        color: #aeaeae;
        letter-spacing: 0.1rem;
        display: block;
        padding: 1.2rem 0;
        position: relative; }
        .zone_container_top .zone_container_top_bar li a.active {
          color: #f06292; }
          .zone_container_top .zone_container_top_bar li a.active:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 28%;
            width: 2rem;
            height: 0.18rem;
            border-radius: 0.18rem;
            background: #f06292; }
  .zone_container_top .zone_container_top_topic {
    padding: 1rem; }
    .zone_container_top .zone_container_top_topic .zone_container_topic_title {
      text-align: center;
      padding-bottom: 0.6rem; }
      .zone_container_top .zone_container_top_topic .zone_container_topic_title span {
        font-size: 1.3rem;
        color: #333;
        letter-spacing: 0.1rem;
        position: relative; }
        .zone_container_top .zone_container_top_topic .zone_container_topic_title span:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 28%;
          width: 2.5rem;
          height: 1px;
          border-radius: 1px;
          background: #d9d9d9;
          left: -3.5rem;
          top: 50%; }
        .zone_container_top .zone_container_top_topic .zone_container_topic_title span:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 28%;
          width: 2.5rem;
          height: 1px;
          border-radius: 1px;
          background: #d9d9d9;
          left: initial;
          right: -3.5rem;
          top: 55%; }
    .zone_container_top .zone_container_top_topic ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start; }
      .zone_container_top .zone_container_top_topic ul li {
        -webkit-box-flex: 0 0 50%;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        text-align: center;
        position: relative;
        font-size: 1.2rem;
        color: #333;
        letter-spacing: 0.1rem; }
        .zone_container_top .zone_container_top_topic ul li a {
          display: block;
          padding: 1rem 0;
          font-size: 1rem;
          color: #333;
          letter-spacing: 0.1rem; }
        .zone_container_top .zone_container_top_topic ul li:nth-child(2n+1):before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 28%;
          width: 1px;
          height: 2rem;
          border-radius: 2rem;
          background: #d9d9d9;
          left: initial;
          right: 0;
          bottom: 20%; }
        .zone_container_top .zone_container_top_topic ul li:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 28%;
          width: 13rem;
          height: 1px;
          border-radius: 1px;
          background: #d9d9d9;
          left: 7%;
          bottom: 0; }
        .zone_container_top .zone_container_top_topic ul li:nth-last-child(2):after, .zone_container_top .zone_container_top_topic ul li:nth-last-child(1):after {
          background: #fff; }

.zone_container_item {
  border-bottom: solid #eee 1rem;
  padding: 1rem 1rem 0 1rem; }
  .zone_container_item .zone_container_item_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .zone_container_item .zone_container_item_top .img {
      -webkit-box-flex: 0 0 7rem;
      -webkit-flex: 0 0 7rem;
      -ms-flex: 0 0 7rem;
      flex: 0 0 7rem; }
      .zone_container_item .zone_container_item_top .img img {
        width: 5rem;
        height: 5rem;
        border-radius: 5rem;
        display: block;
        justify-content: center;
        align-items: center;
        align-self: center;
        border: solid #f856a2 0.1rem; }
    .zone_container_item .zone_container_item_top .about {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 0.7rem 0; }
      .zone_container_item .zone_container_item_top .about .name h5 {
        font-size: 1.4rem;
        color: #333;
        letter-spacing: 0.1rem;
        display: inline-block; }
      .zone_container_item .zone_container_item_top .about .name img {
        width: 1rem;
        height: 1rem; }
      .zone_container_item .zone_container_item_top .about .pos {
        padding: 0.3rem 0; }
        .zone_container_item .zone_container_item_top .about .pos h5 {
          display: inline-block;
          font-size: 1rem;
          color: #bebcbd;
          letter-spacing: 0.1rem; }
        .zone_container_item .zone_container_item_top .about .pos img {
          width: 0.9rem;
          height: 0.9rem; }
        .zone_container_item .zone_container_item_top .about .pos span {
          font-size: 1rem;
          color: #bebcbd;
          letter-spacing: 0; }
    .zone_container_item .zone_container_item_top .opt a {
      -webkit-box-flex: 0 0 4rem;
      -webkit-flex: 0 0 4rem;
      -ms-flex: 0 0 4rem;
      flex: 0 0 4rem;
      display: block; }
      .zone_container_item .zone_container_item_top .opt a img {
        width: 3rem;
        height: 3rem; }
  .zone_container_item .zone_container_item_mid .zone_container_item_title {
    font-size: 1.2rem;
    color: #333;
    letter-spacing: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.8rem;
    margin-bottom: 0.4rem; }
    .zone_container_item .zone_container_item_mid .zone_container_item_title span {
      font-size: 1.2rem;
      color: #f06292;
      letter-spacing: 0.1rem; }
  .zone_container_item .zone_container_item_mid .zone_container_item_cat_text {
    font-size: 1.1rem;
    color: #666;
    letter-spacing: 0;
    line-height: 1.7rem; }
    .zone_container_item .zone_container_item_mid .zone_container_item_cat_text a {
      display: inline-block;
      font-size: 1.1rem;
      color: #f06292;
      letter-spacing: 0.1rem;
      margin-left: 1rem; }
  .zone_container_item .zone_container_item_mid .zone_container_item_cat_article {
    background: #eaeaea;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem; }
    .zone_container_item .zone_container_item_mid .zone_container_item_cat_article .avatar {
      -webkit-box-flex: 0 0 5rem;
      -webkit-flex: 0 0 5rem;
      -ms-flex: 0 0 5rem;
      flex: 0 0 5rem; }
      .zone_container_item .zone_container_item_mid .zone_container_item_cat_article .avatar img {
        width: 4rem;
        height: 4rem;
        display: block;
        justify-content: center;
        align-items: center;
        align-self: center; }
    .zone_container_item .zone_container_item_mid .zone_container_item_cat_article .des {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .zone_container_item .zone_container_item_mid .zone_container_item_cat_article .des h5 {
        font-size: 1.2rem;
        color: #333;
        letter-spacing: 0.1rem; }
      .zone_container_item .zone_container_item_mid .zone_container_item_cat_article .des p {
        font-size: 1rem;
        color: #333;
        letter-spacing: 0.1rem; }
  .zone_container_item .zone_container_item_mid .zone_container_item_cat_imgs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start; }
    .zone_container_item .zone_container_item_mid .zone_container_item_cat_imgs a {
      -webkit-box-flex: 0 0 10rem;
      -webkit-flex: 0 0 10rem;
      -ms-flex: 0 0 10rem;
      flex: 0 0 10rem; }
      .zone_container_item .zone_container_item_mid .zone_container_item_cat_imgs a img {
        width: 9.7rem;
        height: 9.7rem;
        -webkit-border-radius: 0.2rem;
        -moz-border-radius: 0.2rem;
        border-radius: 0.2rem; }
    .zone_container_item .zone_container_item_mid .zone_container_item_cat_imgs.img_2 a {
      -webkit-box-flex: 0 0 15rem;
      -webkit-flex: 0 0 15rem;
      -ms-flex: 0 0 15rem;
      flex: 0 0 15rem; }
      .zone_container_item .zone_container_item_mid .zone_container_item_cat_imgs.img_2 a img {
        width: 14rem;
        height: 14rem;
        -webkit-border-radius: 0.2rem;
        -moz-border-radius: 0.2rem;
        border-radius: 0.2rem; }
    .zone_container_item .zone_container_item_mid .zone_container_item_cat_imgs.img_1 a {
      -webkit-box-flex: 0 0 30rem;
      -webkit-flex: 0 0 30rem;
      -ms-flex: 0 0 30rem;
      flex: 0 0 30rem; }
      .zone_container_item .zone_container_item_mid .zone_container_item_cat_imgs.img_1 a img {
        width: 29rem;
        height: 29rem;
        -webkit-border-radius: 0.2rem;
        -moz-border-radius: 0.2rem;
        border-radius: 0.2rem; }
  .zone_container_item .zone_container_item_mid .zone_container_item_cat_voice {
    background: url("../images/zone/ico_bg_voice.png") no-repeat center center;
    background-size: 100% 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.8rem;
    position: relative; }
    .zone_container_item .zone_container_item_mid .zone_container_item_cat_voice .avatar {
      -webkit-box-flex: 0 0 5rem;
      -webkit-flex: 0 0 5rem;
      -ms-flex: 0 0 5rem;
      flex: 0 0 5rem; }
      .zone_container_item .zone_container_item_mid .zone_container_item_cat_voice .avatar img {
        width: 4rem;
        height: 4rem;
        display: block;
        justify-content: center;
        align-items: center;
        align-self: center; }
    .zone_container_item .zone_container_item_mid .zone_container_item_cat_voice .fill {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .zone_container_item .zone_container_item_mid .zone_container_item_cat_voice .voice {
      display: block;
      -webkit-box-flex: 0 0 5rem;
      -webkit-flex: 0 0 5rem;
      -ms-flex: 0 0 5rem;
      flex: 0 0 5rem; }
      .zone_container_item .zone_container_item_mid .zone_container_item_cat_voice .voice.pause {
        background: url("../images/zone/ico_voice_pause.png") no-repeat center center;
        background-size: 100% 100%;
        background-size: 52% 60%; }
      .zone_container_item .zone_container_item_mid .zone_container_item_cat_voice .voice.play {
        background: url("../images/zone/ico_voice_play.png") no-repeat center center;
        background-size: 100% 100%;
        background-size: 52% 60%; }
    .zone_container_item .zone_container_item_mid .zone_container_item_cat_voice span {
      position: absolute;
      font-size: 0.8rem;
      color: #fff;
      letter-spacing: 0;
      right: 2rem;
      top: 0.2rem; }
  .zone_container_item .zone_container_item_bot {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .zone_container_item .zone_container_item_bot a {
      display: block;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      padding: 1rem 0; }
      .zone_container_item .zone_container_item_bot a span {
        font-size: 1rem;
        color: #bebcbd;
        letter-spacing: 0.1rem;
        position: relative; }
        .zone_container_item .zone_container_item_bot a span.view:before {
          position: absolute;
          content: "";
          width: 1rem;
          height: 1rem;
          background: url("../images/zone/ico_view.png") no-repeat center center;
          background-size: 100% 100%;
          left: -1.5rem;
          top: 0; }
        .zone_container_item .zone_container_item_bot a span.rose:before {
          position: absolute;
          content: "";
          width: 1rem;
          height: 1rem;
          background: url("../images/zone/ico_rose.png") no-repeat center center;
          background-size: 100% 100%;
          left: -1.5rem;
          top: 0; }
        .zone_container_item .zone_container_item_bot a span.rose.active:before {
          position: absolute;
          content: "";
          width: 1rem;
          height: 1rem;
          background: url("../images/zone/ico_rosed.png") no-repeat center center;
          background-size: 100% 100%; }
        .zone_container_item .zone_container_item_bot a span.zan:before {
          position: absolute;
          content: "";
          width: 1rem;
          height: 1rem;
          background: url("../images/zone/ico_zan.png") no-repeat center center;
          background-size: 100% 100%;
          left: -1.5rem;
          top: 0; }
        .zone_container_item .zone_container_item_bot a span.zan.active:before {
          position: absolute;
          content: "";
          width: 1rem;
          height: 1rem;
          background: url("../images/zone/ico_zaned.png") no-repeat center center;
          background-size: 100% 100%; }
        .zone_container_item .zone_container_item_bot a span.comment:before {
          position: absolute;
          content: "";
          width: 1rem;
          height: 1rem;
          background: url("../images/zone/ico_comment.png") no-repeat center center;
          background-size: 100% 100%;
          left: -1.5rem;
          top: 0; }

.zone_container_item_opts .zone_container_item_opt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.1rem solid #eee; }
  .zone_container_item_opts .zone_container_item_opt .img {
    -webkit-box-flex: 0 0 12.5%;
    -webkit-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    padding: 1rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .zone_container_item_opts .zone_container_item_opt .img img {
      width: 3rem;
      height: 3rem;
      display: block;
      margin: 0 auto;
      border-radius: 3rem;
      justify-content: center;
      align-items: center;
      align-self: center; }
      .zone_container_item_opts .zone_container_item_opt .img img.first {
        width: 1.5rem;
        height: 2rem; }
    .zone_container_item_opts .zone_container_item_opt .img a {
      display: block;
      font-size: 0.8rem;
      color: #fff;
      letter-spacing: 0;
      background: #f06292;
      width: 3rem;
      height: 3rem;
      border-radius: 3rem;
      text-align: center;
      line-height: 3rem; }

.zone_container_item_comments {
  padding-bottom: 8rem; }
  .zone_container_item_comments .zone_container_item_comment {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    border-bottom: 0.1rem solid #eee; }
    .zone_container_item_comments .zone_container_item_comment .avatar {
      -webkit-box-flex: 0 0 5rem;
      -webkit-flex: 0 0 5rem;
      -ms-flex: 0 0 5rem;
      flex: 0 0 5rem; }
      .zone_container_item_comments .zone_container_item_comment .avatar img {
        width: 4rem;
        height: 4rem;
        display: block;
        margin: 0 auto;
        border-radius: 4rem; }
    .zone_container_item_comments .zone_container_item_comment .content {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .zone_container_item_comments .zone_container_item_comment .content div {
        font-size: 1.2rem;
        color: #333;
        letter-spacing: 0.1rem;
        padding-bottom: 0.5rem; }
      .zone_container_item_comments .zone_container_item_comment .content p.cat_text {
        display: block;
        font-size: 1.1rem;
        color: #525252;
        letter-spacing: 0.1rem; }
      .zone_container_item_comments .zone_container_item_comment .content p.cat_voice {
        padding: 0.5rem 0; }
        .zone_container_item_comments .zone_container_item_comment .content p.cat_voice a {
          width: 10rem;
          height: 2.4rem;
          border: 1px solid #cecece;
          display: block;
          margin-left: 1rem;
          border-radius: 0.5rem;
          position: relative; }
          .zone_container_item_comments .zone_container_item_comment .content p.cat_voice a:before {
            content: "";
            height: 0.5rem;
            width: 0.5rem;
            position: absolute;
            background: #fff;
            border-width: 0 0 1px 1px;
            border-color: #cecece;
            border-style: solid;
            -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            top: 32%;
            left: -0.36rem; }
          .zone_container_item_comments .zone_container_item_comment .content p.cat_voice a span {
            position: absolute;
            right: -2.4rem;
            top: 25%;
            font-size: 1rem;
            color: #989898;
            letter-spacing: 0; }
        .zone_container_item_comments .zone_container_item_comment .content p.cat_voice a.pause {
          background: url("../images/zone/ico_voice_pause_gray.png") no-repeat left center;
          background-size: 1.5rem 1.5rem;
          background-position: 10% 50%; }
        .zone_container_item_comments .zone_container_item_comment .content p.cat_voice a.play {
          background: url("../images/zone/ico_voice_play_gray.gif") no-repeat left center;
          background-size: 1.5rem 1.5rem;
          background-position: 10% 50%; }
    .zone_container_item_comments .zone_container_item_comment .time {
      -webkit-box-flex: 0 0 6rem;
      -webkit-flex: 0 0 6rem;
      -ms-flex: 0 0 6rem;
      flex: 0 0 6rem;
      font-size: 0.8rem;
      color: #bfbdbe;
      letter-spacing: 0.1rem;
      text-align: center; }

.zone_container_item_comments_btns {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff; }
  .zone_container_item_comments_btns .zone_container_item_comments_inputs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 0.5rem 0; }
    .zone_container_item_comments_btns .zone_container_item_comments_inputs .voice_entry {
      -webkit-box-flex: 0 0 4.5rem;
      -webkit-flex: 0 0 4.5rem;
      -ms-flex: 0 0 4.5rem;
      flex: 0 0 4.5rem; }
      .zone_container_item_comments_btns .zone_container_item_comments_inputs .voice_entry a {
        display: block;
        border-right: 1px solid #eee; }
        .zone_container_item_comments_btns .zone_container_item_comments_inputs .voice_entry a img {
          width: 3rem;
          height: 3rem;
          display: block;
          margin: 0 auto; }
    .zone_container_item_comments_btns .zone_container_item_comments_inputs .inputs_input {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .zone_container_item_comments_btns .zone_container_item_comments_inputs .inputs_input input {
        border: none;
        display: block;
        width: 90%;
        height: 3rem;
        line-height: 3rem;
        color: #777;
        font-size: 1.2rem;
        padding: 0 1rem; }
    .zone_container_item_comments_btns .zone_container_item_comments_inputs .inputs_btn {
      -webkit-box-flex: 0 0 8rem;
      -webkit-flex: 0 0 8rem;
      -ms-flex: 0 0 8rem;
      flex: 0 0 8rem; }
      .zone_container_item_comments_btns .zone_container_item_comments_inputs .inputs_btn a {
        display: block;
        text-align: center;
        background: #f06292;
        font-size: 1.2rem;
        color: #fff;
        letter-spacing: 0.1rem;
        height: 100%;
        width: 7rem;
        line-height: 3rem;
        border-radius: 0.5rem; }
  .zone_container_item_comments_btns .zone_container_item_comments_vbtns {
    display: none; }
    .zone_container_item_comments_btns .zone_container_item_comments_vbtns.active {
      display: block; }
    .zone_container_item_comments_btns .zone_container_item_comments_vbtns .vbtn_pause p {
      font-size: 1.2rem;
      color: #333;
      letter-spacing: 0.1rem;
      text-align: center;
      padding: 1.5rem 0; }
      .zone_container_item_comments_btns .zone_container_item_comments_vbtns .vbtn_pause p span {
        position: relative; }
        .zone_container_item_comments_btns .zone_container_item_comments_vbtns .vbtn_pause p span.active:before {
          content: "";
          position: absolute;
          bottom: 0.1rem;
          left: -7rem;
          width: 6rem;
          height: 1.5rem;
          background: url(../images/zone/ico_recording.gif) no-repeat center center;
          background-size: 100% 100%; }
        .zone_container_item_comments_btns .zone_container_item_comments_vbtns .vbtn_pause p span.active:after {
          content: "";
          position: absolute;
          bottom: 0.1rem;
          right: -7rem;
          width: 6rem;
          height: 1.5rem;
          background: url(../images/zone/ico_recording.gif) no-repeat center center;
          background-size: 100% 100%; }
    .zone_container_item_comments_btns .zone_container_item_comments_vbtns .vbtn_pause div {
      width: 6.5rem;
      height: 6.5rem;
      margin: 2rem auto;
      display: flex;
      border-radius: 100%;
      border: 1px solid #c5c3c4; }
      .zone_container_item_comments_btns .zone_container_item_comments_vbtns .vbtn_pause div a {
        display: block;
        width: 5rem;
        height: 5rem;
        background: #f06292;
        border: 1px solid #eee;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        align-self: center; }
        .zone_container_item_comments_btns .zone_container_item_comments_vbtns .vbtn_pause div a.play {
          border-radius: 5rem; }
        .zone_container_item_comments_btns .zone_container_item_comments_vbtns .vbtn_pause div a.pause {
          width: 3rem;
          height: 3rem;
          border-radius: 0.5rem; }

.zone_container_add_msg .msg_ipts {
  padding: 1rem;
  border-bottom: 1px solid #eee; }
  .zone_container_add_msg .msg_ipts textarea {
    border: none;
    width: 100%;
    font-size: 1.1rem;
    color: #333;
    letter-spacing: 0.1rem; }
  .zone_container_add_msg .msg_ipts ul.add_cat_img {
    padding: 1rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    .zone_container_add_msg .msg_ipts ul.add_cat_img li {
      position: relative;
      width: 25%;
      height: 7rem; }
      .zone_container_add_msg .msg_ipts ul.add_cat_img li a {
        width: 6rem;
        height: 6rem;
        display: inline-block;
        border: 1px solid #f2f0f1;
        position: relative; }
        .zone_container_add_msg .msg_ipts ul.add_cat_img li a:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 28%;
          width: 4rem;
          height: 1px;
          border-radius: 1px;
          background: #ddd;
          bottom: 3rem;
          left: 15%; }
        .zone_container_add_msg .msg_ipts ul.add_cat_img li a:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 28%;
          width: 1px;
          height: 4rem;
          border-radius: 4rem;
          background: #ddd;
          left: 3rem;
          bottom: 15%; }
      .zone_container_add_msg .msg_ipts ul.add_cat_img li img {
        width: 6rem;
        height: 6rem; }
  .zone_container_add_msg .msg_ipts ul.add_cat_voice .zone_container_item_cat_voice {
    background: url("../images/zone/ico_bg_voice.png") no-repeat center center;
    background-size: 100% 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.8rem;
    position: relative; }
    .zone_container_add_msg .msg_ipts ul.add_cat_voice .zone_container_item_cat_voice .avatar {
      -webkit-box-flex: 0 0 5rem;
      -webkit-flex: 0 0 5rem;
      -ms-flex: 0 0 5rem;
      flex: 0 0 5rem; }
      .zone_container_add_msg .msg_ipts ul.add_cat_voice .zone_container_item_cat_voice .avatar img {
        width: 4rem;
        height: 4rem;
        display: block;
        justify-content: center;
        align-items: center;
        align-self: center; }
    .zone_container_add_msg .msg_ipts ul.add_cat_voice .zone_container_item_cat_voice .fill {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .zone_container_add_msg .msg_ipts ul.add_cat_voice .zone_container_item_cat_voice .voice {
      display: block;
      -webkit-box-flex: 0 0 5rem;
      -webkit-flex: 0 0 5rem;
      -ms-flex: 0 0 5rem;
      flex: 0 0 5rem; }
      .zone_container_add_msg .msg_ipts ul.add_cat_voice .zone_container_item_cat_voice .voice.pause {
        background: url("../images/zone/ico_voice_pause.png") no-repeat center center;
        background-size: 100% 100%;
        background-size: 52% 60%; }
      .zone_container_add_msg .msg_ipts ul.add_cat_voice .zone_container_item_cat_voice .voice.play {
        background: url("../images/zone/ico_voice_play.png") no-repeat center center;
        background-size: 100% 100%;
        background-size: 52% 60%; }
    .zone_container_add_msg .msg_ipts ul.add_cat_voice .zone_container_item_cat_voice span {
      position: absolute;
      font-size: 0.8rem;
      color: #fff;
      letter-spacing: 0;
      right: 2rem;
      top: 0.2rem; }
.zone_container_add_msg .msg_tags ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem; }
  .zone_container_add_msg .msg_tags ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .zone_container_add_msg .msg_tags ul li:last-child {
      text-align: right; }
    .zone_container_add_msg .msg_tags ul li a {
      font-size: 1rem;
      color: #333;
      letter-spacing: 0.1rem;
      width: 6rem;
      padding: 0.4rem 1rem;
      border-radius: 2rem;
      background: #f2f0f1;
      border: 1px solid #dfdfdf; }
      .zone_container_add_msg .msg_tags ul li a img {
        width: 0.9rem;
        height: 0.9rem;
        padding-right: 0.5rem;
        position: relative;
        top: 0.1rem; }
.zone_container_add_msg .zone_container_add_msg_btn {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0; }
  .zone_container_add_msg .zone_container_add_msg_btn a {
    display: block;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 0.3rem;
    padding: 1rem 0;
    background: #f06292;
    text-align: center; }
.zone_container_add_msg .zone_container_add_msg_record {
  border-top: 1px solid #eee;
  padding: 0; }
  .zone_container_add_msg .zone_container_add_msg_record .vbtn_pause p {
    font-size: 1.2rem;
    color: #333;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 1.5rem 0; }
    .zone_container_add_msg .zone_container_add_msg_record .vbtn_pause p span {
      position: relative; }
      .zone_container_add_msg .zone_container_add_msg_record .vbtn_pause p span.active:before {
        content: "";
        position: absolute;
        bottom: 0.1rem;
        left: -7rem;
        width: 6rem;
        height: 1.5rem;
        background: url(../images/zone/ico_recording.gif) no-repeat center center;
        background-size: 100% 100%; }
      .zone_container_add_msg .zone_container_add_msg_record .vbtn_pause p span.active:after {
        content: "";
        position: absolute;
        bottom: 0.1rem;
        right: -7rem;
        width: 6rem;
        height: 1.5rem;
        background: url(../images/zone/ico_recording.gif) no-repeat center center;
        background-size: 100% 100%; }
  .zone_container_add_msg .zone_container_add_msg_record .vbtn_pause div {
    width: 6.5rem;
    height: 6.5rem;
    margin: 2rem auto;
    display: flex;
    border-radius: 100%;
    border: 1px solid #c5c3c4; }
    .zone_container_add_msg .zone_container_add_msg_record .vbtn_pause div a {
      display: block;
      width: 5rem;
      height: 5rem;
      background: #f06292;
      border: 1px solid #eee;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      align-self: center; }
      .zone_container_add_msg .zone_container_add_msg_record .vbtn_pause div a.play {
        border-radius: 5rem; }
      .zone_container_add_msg .zone_container_add_msg_record .vbtn_pause div a.pause {
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem; }

.zone_container_search_topic .zone_container_search {
  padding: 1rem;
  border-bottom: 1px solid #eee; }
  .zone_container_search_topic .zone_container_search .input {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .zone_container_search_topic .zone_container_search .input input {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      border: 1px solid #ddd;
      font-size: 1.2rem;
      color: #333;
      letter-spacing: 0;
      padding: 0.5rem 1rem 0.5rem 3rem;
      border-radius: 2rem; }
    .zone_container_search_topic .zone_container_search .input:before {
      content: "";
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      left: 1rem;
      top: 0.7rem;
      background: url(../images/zone/ico_search.png) no-repeat center center;
      background-size: 100% 100%; }
    .zone_container_search_topic .zone_container_search .input a {
      -webkit-box-flex: 0 0 4rem;
      -webkit-flex: 0 0 4rem;
      -ms-flex: 0 0 4rem;
      flex: 0 0 4rem;
      font-size: 1.2rem;
      color: #333;
      letter-spacing: 0;
      display: block;
      line-height: 2.5rem;
      text-align: center; }
.zone_container_search_topic .zone_container_topic_items li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #eee;
  position: relative; }
  .zone_container_search_topic .zone_container_topic_items li a.recommend:after {
    position: absolute;
    content: "";
    right: 1rem;
    width: 2rem;
    height: 2rem;
    top: 0;
    background: url(../images/zone/ico_recommend.png) no-repeat center center;
    background-size: 100% 100%; }
  .zone_container_search_topic .zone_container_topic_items li a .avatar {
    -webkit-box-flex: 0 0 7rem;
    -webkit-flex: 0 0 7rem;
    -ms-flex: 0 0 7rem;
    flex: 0 0 7rem; }
    .zone_container_search_topic .zone_container_topic_items li a .avatar img {
      width: 6rem;
      height: 6rem;
      display: block;
      margin: 0 auto;
      border-radius: 0.5rem; }
  .zone_container_search_topic .zone_container_topic_items li a .content .title {
    font-size: 1.3rem;
    color: #333;
    letter-spacing: 0;
    line-height: 2rem; }
  .zone_container_search_topic .zone_container_topic_items li a .content .about {
    font-size: 1.15rem;
    color: #a9a9a9;
    letter-spacing: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .zone_container_search_topic .zone_container_topic_items li a .content .marks {
    line-height: 2rem; }
    .zone_container_search_topic .zone_container_topic_items li a .content .marks i {
      display: inline-block;
      width: 6rem;
      font-size: 1rem;
      color: #a9a9a9;
      letter-spacing: 0; }
      .zone_container_search_topic .zone_container_topic_items li a .content .marks i span {
        color: #f06292; }
      .zone_container_search_topic .zone_container_topic_items li a .content .marks i em {
        margin-left: 0.2rem; }

.zone_container_topic_all .zone_container_topic_all_top {
  position: relative;
  overflow: hidden; }
  .zone_container_topic_all .zone_container_topic_all_top .bg_blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 36rem;
    height: 36rem;
    margin-left: -2rem;
    margin-top: -6rem;
    -webkit-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
    z-index: 0; }
  .zone_container_topic_all .zone_container_topic_all_top .zone_container_topic_all_top_about {
    position: relative;
    text-align: center;
    padding: 3rem 0; }
    .zone_container_topic_all .zone_container_topic_all_top .zone_container_topic_all_top_about .img {
      position: relative;
      z-index: 3;
      width: 8rem;
      height: 8rem;
      margin: 0.5rem auto;
      display: inline-block; }
      .zone_container_topic_all .zone_container_topic_all_top .zone_container_topic_all_top_about .img img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        border-radius: 100%; }
      .zone_container_topic_all .zone_container_topic_all_top .zone_container_topic_all_top_about .img span {
        display: none; }
      .zone_container_topic_all .zone_container_topic_all_top .zone_container_topic_all_top_about .img.recommend:before {
        position: absolute;
        content: "";
        width: 8rem;
        height: 2.4rem;
        background: url("../images/zone/ico_topic_recommend.png") no-repeat center center;
        background-size: 100% 100%;
        left: 0;
        bottom: -0.5rem; }
      .zone_container_topic_all .zone_container_topic_all_top .zone_container_topic_all_top_about .img.recommend span {
        display: block;
        position: absolute;
        font-size: 1rem;
        color: #fff;
        letter-spacing: 0.3rem;
        bottom: 0.2rem;
        left: 0;
        right: 0;
        text-align: center; }
    .zone_container_topic_all .zone_container_topic_all_top .zone_container_topic_all_top_about h5 {
      font-size: 1.3rem;
      color: #fff;
      letter-spacing: 0.1rem;
      line-height: 3rem; }
    .zone_container_topic_all .zone_container_topic_all_top .zone_container_topic_all_top_about p {
      font-size: 1.1rem;
      color: #fff;
      letter-spacing: 0; }
.zone_container_topic_all .zone_container_topic_all_stat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1rem solid #eee;
  padding: 1rem; }
  .zone_container_topic_all .zone_container_topic_all_stat li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    border-right: 1px solid #eee; }
    .zone_container_topic_all .zone_container_topic_all_stat li:last-child {
      border: none; }
    .zone_container_topic_all .zone_container_topic_all_stat li h5 {
      font-size: 1.3rem;
      color: #333;
      letter-spacing: 0.1rem; }
    .zone_container_topic_all .zone_container_topic_all_stat li p {
      font-size: 1.1rem;
      color: #a9a9a9;
      letter-spacing: 0.1rem;
      margin-top: 0.8rem; }
.zone_container_topic_all .zone_container_topic_all_add {
  border-bottom: 1rem solid #eee; }
  .zone_container_topic_all .zone_container_topic_all_add a {
    padding: 1rem;
    display: block;
    font-size: 1.2rem;
    color: #a9a9a9;
    letter-spacing: 0.1rem;
    text-align: center; }
    .zone_container_topic_all .zone_container_topic_all_add a span {
      position: relative; }
      .zone_container_topic_all .zone_container_topic_all_add a span:before {
        position: absolute;
        content: "";
        width: 2rem;
        height: 2rem;
        background: url("../images/zone/ico_topic_add.png") no-repeat center center;
        background-size: 100% 100%;
        left: -2.4rem;
        top: -0.2rem; }

.zone_alert_add_msg li a {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  background: #fff; }

.ev_container .ev_container_top {
  position: relative;
  background: url("../images/ev/ev_bg.jpg") no-repeat center center;
  background-size: 100% 100%;
  padding: 2rem 0 4rem; }
  .ev_container .ev_container_top .ev_container_top_grab {
    display: none; }
    .ev_container .ev_container_top .ev_container_top_grab h5 {
      font-size: 1.8rem;
      color: #f9ab00;
      letter-spacing: 0.1rem;
      text-align: center;
      line-height: 2rem; }
    .ev_container .ev_container_top .ev_container_top_grab p {
      font-size: 1.2rem;
      color: #f58b03;
      letter-spacing: 0;
      text-align: center; }
    .ev_container .ev_container_top .ev_container_top_grab h4 {
      font-size: 2rem;
      color: #ffcb01;
      letter-spacing: 0.1rem;
      text-align: center;
      line-height: 4rem; }
    .ev_container .ev_container_top .ev_container_top_grab .grab {
      display: block; }
      .ev_container .ev_container_top .ev_container_top_grab .grab img {
        width: 10rem;
        height: 10rem;
        display: block;
        margin: 0 auto; }
  .ev_container .ev_container_top .ev_container_top_grabed {
    display: none; }
    .ev_container .ev_container_top .ev_container_top_grabed h5 {
      font-size: 1.2rem;
      color: #fff;
      letter-spacing: 0.1rem;
      text-align: center;
      line-height: 3rem; }
    .ev_container .ev_container_top .ev_container_top_grabed p {
      font-size: 2rem;
      color: #fff;
      letter-spacing: 0;
      text-align: center; }
    .ev_container .ev_container_top .ev_container_top_grabed .grabed, .ev_container .ev_container_top .ev_container_top_grabed .avatar {
      display: block; }
      .ev_container .ev_container_top .ev_container_top_grabed .grabed img, .ev_container .ev_container_top .ev_container_top_grabed .avatar img {
        width: 7rem;
        height: 7rem;
        display: block;
        margin: 0 auto;
        border-radius: 7rem; }
  .ev_container .ev_container_top .ev_top_alert {
    position: absolute;
    width: 8rem;
    height: 3rem;
    line-height: 3rem;
    display: inline-block;
    bottom: 1rem;
    background: #ff004e;
    font-size: 1.2rem;
    color: #ffcc00;
    letter-spacing: 0.1rem;
    text-align: center; }
    .ev_container .ev_container_top .ev_top_alert.ipacket {
      left: 0;
      border-bottom-right-radius: 3rem;
      border-top-right-radius: 3rem; }
    .ev_container .ev_container_top .ev_top_alert.rule {
      right: 0;
      border-left: 3rem;
      border-bottom-left-radius: 3rem;
      border-top-left-radius: 3rem; }
.ev_container .ev_container_content {
  background: #fff7da; }
  .ev_container .ev_container_content .ev_container_share {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem; }
    .ev_container .ev_container_content .ev_container_share div {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center; }
      .ev_container .ev_container_content .ev_container_share div a {
        display: inline-block;
        width: 12rem;
        height: 3rem;
        line-height: 3rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        color: #fff;
        letter-spacing: 0.1rem;
        position: relative; }
        .ev_container .ev_container_content .ev_container_share div a[ev_opt=share] {
          background: #2ed60d; }
          .ev_container .ev_container_content .ev_container_share div a[ev_opt=share]:before {
            position: absolute;
            content: "";
            position: absolute;
            content: "";
            width: 2rem;
            height: 2rem;
            background: url("../images/ev/ev_ico_share.png") no-repeat center center;
            background-size: 100% 100%;
            top: 0.4rem;
            left: 0.5rem; }
        .ev_container .ev_container_content .ev_container_share div a[ev_opt=more] {
          background: #f53365;
          color: #fdcd01; }
          .ev_container .ev_container_content .ev_container_share div a[ev_opt=more]:before {
            position: absolute;
            content: "";
            position: absolute;
            content: "";
            width: 1.6rem;
            height: 1.6rem;
            background: url("../images/ev/ev_ico_redpacket.png") no-repeat center center;
            background-size: 100% 100%;
            top: 0.7rem;
            left: 0.3rem; }
  .ev_container .ev_container_content ul li {
    padding: 1rem;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff; }
    .ev_container .ev_container_content ul li .avatar {
      -webkit-box-flex: 0 0 6rem;
      -webkit-flex: 0 0 6rem;
      -ms-flex: 0 0 6rem;
      flex: 0 0 6rem; }
      .ev_container .ev_container_content ul li .avatar img {
        width: 5rem;
        height: 5rem;
        border-radius: 5rem; }
    .ev_container .ev_container_content ul li .des {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .ev_container .ev_container_content ul li .des h5 {
        font-size: 1.3rem;
        color: #333;
        letter-spacing: 0.1rem;
        line-height: 3rem; }
      .ev_container .ev_container_content ul li .des p {
        font-size: 1rem;
        color: #ddd;
        letter-spacing: 0; }
    .ev_container .ev_container_content ul li .chat {
      -webkit-box-flex: 0 0 6rem;
      -webkit-flex: 0 0 6rem;
      -ms-flex: 0 0 6rem;
      flex: 0 0 6rem;
      text-align: center; }
      .ev_container .ev_container_content ul li .chat span {
        padding-top: 2.7rem;
        position: relative;
        display: inline-block;
        font-size: 0.8rem;
        color: #f53463;
        letter-spacing: 0; }
        .ev_container .ev_container_content ul li .chat span:before {
          position: absolute;
          content: "";
          width: 2rem;
          height: 2rem;
          background: url("../images/ev/ev_ico_chat.png") no-repeat center center;
          background-size: 100% 100%;
          top: 0.7rem;
          left: 0.7rem; }
.ev_container .ev_container_footer {
  text-align: center;
  font-size: 1rem;
  color: #f53463;
  letter-spacing: 0;
  padding: 1rem; }
  .ev_container .ev_container_footer a {
    font-size: 1rem;
    color: #f53463;
    letter-spacing: 0;
    display: inline-block;
    text-decoration: underline; }

.ev_tmp_alert {
  background: #e85951;
  padding: 2rem; }
  .ev_tmp_alert .ev_tmp_qr .qr img {
    width: 20rem;
    height: 20rem; }
  .ev_tmp_alert .ev_tmp_qr p {
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 0.1rem;
    margin-top: 1rem; }
  .ev_tmp_alert .ev_tmp_rule .rule {
    height: 30rem;
    overflow-x: hidden;
    overflow-y: auto; }
    .ev_tmp_alert .ev_tmp_rule .rule h4 {
      text-align: center;
      font-size: 1.4rem;
      color: #fff;
      letter-spacing: 0.1rem;
      line-height: 4rem; }
    .ev_tmp_alert .ev_tmp_rule .rule p {
      text-align: left;
      font-size: 1.1rem;
      color: #fefdf9;
      letter-spacing: 0.1rem;
      text-indent: 1.5rem;
      line-height: 2rem; }
  .ev_tmp_alert .ev_tmp_rule .btn {
    margin-top: 2rem; }
    .ev_tmp_alert .ev_tmp_rule .btn a {
      display: block;
      margin: 0 1rem;
      background: #eee116;
      font-size: 1.2rem;
      color: #e85951;
      letter-spacing: 0.1rem;
      padding: 0.5rem 0;
      border-radius: 0.5rem; }
  .ev_tmp_alert .ev_tmp_grab .avatar img {
    width: 8rem;
    height: 8rem;
    border-radius: 100%; }
  .ev_tmp_alert .ev_tmp_grab p {
    font-size: 1.1rem;
    color: #fff;
    letter-spacing: 0.1rem; }
  .ev_tmp_alert .ev_tmp_grab h3 {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 0.1rem;
    font-weight: 300; }
  .ev_tmp_alert .ev_tmp_grab .btn {
    margin-top: 2rem; }
    .ev_tmp_alert .ev_tmp_grab .btn a {
      display: block;
      margin: 0 1rem;
      background: #eee116;
      font-size: 1.2rem;
      color: #e85951;
      letter-spacing: 0.1rem;
      padding: 0.5rem 0;
      border-radius: 0.5rem; }
  .ev_tmp_alert .ev_tmp_not_enough h3 {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 0.3rem; }
  .ev_tmp_alert .ev_tmp_not_enough p {
    font-size: 1.1rem;
    color: #fff;
    letter-spacing: 0.1rem; }
  .ev_tmp_alert .ev_tmp_not_enough .btn {
    margin-top: 2rem; }
    .ev_tmp_alert .ev_tmp_not_enough .btn a {
      display: block;
      margin: 0 1rem;
      background: #eee116;
      font-size: 1.2rem;
      color: #e85951;
      letter-spacing: 0.1rem;
      padding: 0.5rem 0;
      border-radius: 0.5rem; }

/*# sourceMappingURL=zp.css.map */
