body, html {
  font-size: 10px;
  font-size: -moz-calc(100vw / 32);
  font-size: -webkit-calc(100vw / 32);
  font-size: calc(100vw / 32);
  color: #333;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%; }

body, html, a, p, ul, div, h4, h5, h6, .main-wrap {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; }

body {
  background-color: #fff; }

body, a, div, p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.4rem; }

a {
  color: #333;
  cursor: pointer;
  text-decoration: none; }
  a.disabled, a.disabled:active {
    color: #aaa; }

em, i, b {
  font-weight: normal;
  font-style: normal; }

ul {
  list-style: none; }

input, select, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

main {
  position: relative;
  padding-bottom: 7rem;
  height: 100%; }
  main.bg-lighter {
    background: #fbd2e0; }

section {
  height: 100%; }

.none {
  display: none !important; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: block;
    line-height: 0;
    content: ""; }
  .clearfix:after {
    clear: both; }

.space {
  display: inline-block;
  width: 1rem; }

.space2 {
  display: inline-block;
  width: 2rem; }

.center {
  text-align: center; }

.font12 {
  font-size: 1.2rem; }

@-webkit-keyframes kf_heart_beat {
  0% {
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 65%; }
  10% {
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 50% 65%; }
  50% {
    -webkit-transform: scale(1.2);
    -webkit-transform-origin: 50% 65%; }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 65%; } }
.heart-beat {
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 0.32s;
  -webkit-animation-fill-mode: both; }

.heart-beat {
  -webkit-animation-name: kf_heart_beat; }

.bg-sw {
  background: #fff; }

.sw_bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #f06292; }
  .sw_bar li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    padding: 2rem 1.5rem; }
    .sw_bar li:after {
      position: absolute;
      content: " ";
      width: 1px;
      height: 4rem;
      background: #eee;
      right: 0;
      top: 2.8rem; }
    .sw_bar li:last-child:after {
      width: 0; }
    .sw_bar li a {
      display: block;
      text-align: center;
      position: relative; }
      .sw_bar li a img {
        width: 2.3rem;
        height: 2.3rem;
        margin: 0 auto; }
      .sw_bar li a p {
        color: #fff;
        font-size: 1rem;
        padding: 0.2rem; }

.sw_bar_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff; }
  .sw_bar_text div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    position: relative; }
    .sw_bar_text div:after {
      position: absolute;
      content: " ";
      width: 1px;
      height: 2rem;
      background: #eee;
      right: 0;
      top: 0.7rem; }
    .sw_bar_text div:last-child:after {
      width: 0; }
    .sw_bar_text div:before {
      position: absolute;
      content: "";
      right: 45%;
      top: -0.6rem;
      border-right: 0.5rem solid #f06292;
      border-left: 0.5rem solid #f06292;
      border-bottom: 0.6rem solid #fff; }

.sw_pages {
  margin-top: 1rem; }
  .sw_pages ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff; }
    .sw_pages ul li .img {
      flex: 0 0 5rem; }
      .sw_pages ul li .img img {
        width: 2.8rem;
        height: 2.8rem;
        display: block;
        margin: 0.4rem auto;
        justify-content: center;
        align-items: center;
        align-self: center; }
    .sw_pages ul li a {
      font-size: 1.2rem;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      position: relative;
      line-height: 3.6rem;
      border-bottom: 1px solid #eee;
      padding: 0 0.5rem; }
      .sw_pages ul li a:after {
        content: " ";
        display: inline-block;
        height: 0.8rem;
        width: 0.8rem;
        border-width: 1px 1px 0 0;
        border-color: #969494;
        border-style: solid;
        -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -0.5rem;
        right: 1rem; }

.sw_task_cash {
  background: url(../images/sw/task_cash_amt.jpg) no-repeat center center;
  background-size: 100% 100%;
  padding-top: 40%;
  position: relative; }
  .sw_task_cash .sw_task_cash_des {
    position: absolute;
    top: 1.5rem;
    left: 10rem; }
    .sw_task_cash .sw_task_cash_des h5 {
      font-size: 1.6rem;
      letter-spacing: 0.3rem;
      color: #fff; }
    .sw_task_cash .sw_task_cash_des p {
      font-size: 2rem;
      color: #f06292;
      text-align: center;
      margin-top: 1rem; }
      .sw_task_cash .sw_task_cash_des p span {
        font-size: 1.2rem;
        color: #fff; }

.sw_task_total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff; }
  .sw_task_total div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    padding: 0.5rem 0;
    position: relative; }
    .sw_task_total div:after {
      position: absolute;
      content: " ";
      width: 1px;
      height: 4rem;
      background: #eee;
      right: 0;
      top: 1rem; }
    .sw_task_total div:last-child:after {
      width: 0; }
    .sw_task_total div p {
      font-size: 1.3rem;
      line-height: 2.5rem; }
      .sw_task_total div p:last-child {
        color: #ee7641; }

.sw_task_title {
  background: #f2f0f1;
  color: #f06292;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem; }

.sw_task_item {
  border-bottom: 1px solid #eee; }
  .sw_task_item .sw_task_item_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.2rem;
    padding: 0 1.5rem;
    position: relative; }
    .sw_task_item .sw_task_item_btn:after {
      content: " ";
      display: inline-block;
      height: 0.5rem;
      width: 0.5rem;
      border-width: 0 2px 2px 0;
      border-color: #d4d4d4;
      border-style: solid;
      -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      position: absolute;
      top: 50%;
      right: 0.5rem;
      margin-top: -0.4rem;
      right: 1rem; }
    .sw_task_item .sw_task_item_btn h5 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      font-size: 1.2rem; }
    .sw_task_item .sw_task_item_btn div {
      flex: 0 0 8rem;
      text-align: right;
      padding: 0 1rem;
      position: relative;
      font-size: initial; }
      .sw_task_item .sw_task_item_btn div em {
        display: inline-block;
        line-height: 3.5rem;
        position: relative;
        top: -1.2rem;
        color: #ee7641; }
      .sw_task_item .sw_task_item_btn div img {
        width: 2.3rem;
        height: 2.3rem;
        margin: 0 auto;
        display: inline-block;
        margin: 0.6rem auto; }
  .sw_task_item .sw_task_item_des {
    padding: 1rem 1.5rem;
    background: #fff;
    display: none; }
    .sw_task_item .sw_task_item_des p {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      font-size: 1.1rem;
      color: #777; }
    .sw_task_item .sw_task_item_des .btn {
      flex: 0 0 8rem;
      justify-content: center;
      align-items: center;
      align-self: center;
      text-align: right; }
      .sw_task_item .sw_task_item_des .btn a {
        text-align: center;
        color: #fff;
        background: #f06292;
        padding: 0.3rem 1rem 0.4rem 1rem;
        border-radius: 1rem;
        display: inline-block;
        font-size: 1.1rem; }
  .sw_task_item.active .sw_task_item_btn:after {
    content: " ";
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    border-width: 0 2px 2px 0;
    border-color: #d4d4d4;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    right: 0.5rem;
    margin-top: -0.4rem;
    transform: rotate(-135deg);
    right: 1rem;
    top: 60%; }
  .sw_task_item.active .sw_task_item_des {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.sw_cash_items {
  padding: 1rem;
  background: #fff;
  margin-bottom: 1rem; }
  .sw_cash_items p {
    font-size: 1.3rem; }
  .sw_cash_items ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem 0; }
    .sw_cash_items ul li {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background: url(../images/sw/sw_cash_choose.png) no-repeat center center;
      background-size: 9rem 6rem;
      position: relative;
      height: 7rem; }
      .sw_cash_items ul li a {
        position: absolute;
        font-size: 1.3rem;
        color: #fff;
        width: 100%;
        height: 100%;
        line-height: 7rem;
        text-align: center; }
      .sw_cash_items ul li.active {
        background: url(../images/sw/sw_cash_choosed.png) no-repeat center center;
        background-size: 9rem 6rem; }
  .sw_cash_items .sw_cash_btn_comfirm a {
    background: #e15f8c;
    color: #fff;
    border-radius: 2rem;
    display: block;
    padding: 0.8rem 0;
    font-size: 1.3rem;
    text-align: center;
    margin: 0 2rem; }

/*# sourceMappingURL=zp.css.map */
