@charset "UTF-8";
body {
  background-color: #fff;
  width: 100%;
  display: block; }

.bgw {
  background-color: #fff; }
  .bgw .nav-top-menu {
    color: #f50; }

.text-gray {
  color: #747474;
  font-size: 0.9em; }

div.large {
  font-size: 2.2rem; }

span.label {
  font-weight: normal;
  font-size: 85%;
  padding: 2px 4px; }

#wrapper {
  width: 100%; }

#page-wrapper {
  padding: 0 15px 50px 15px;
  min-height: 540px;
  background-color: #fff; }

.spinner {
  text-align: center;
  height: 40px;
  line-height: 40px; }
  .spinner span {
    font-size: 12px;
    padding-left: 30px;
    position: relative;
    display: inline-block;
    color: #747474; }
  .spinner span:before {
    content: " ";
    position: absolute;
    left: 5px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: url("../images/loading_spin.svg") no-repeat center center;
    background-size: 100% 100%;
    z-index: 911; }

.w-flyer {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  position: fixed;
  z-index: 399;
  background: #f80; }

.text-money {
  color: #f50;
  font-weight: 500;
  padding-left: 2px;
  padding-right: 2px; }

@media (min-width: 768px) {
  #page-wrapper {
    padding: 60px 30px 50px 200px; } }
@media (max-width: 420px) {
  .navbar-top-links {
    display: none !important; }

  .sidebar {
    margin-top: 60px !important; } }
.navbar-top-links {
  margin-right: 0; }
  .navbar-top-links li {
    display: inline-block; }
    .navbar-top-links li a {
      padding: 15px;
      min-height: 50px; }
  .navbar-top-links li:last-child {
    margin-right: 15px; }
  .navbar-top-links .dropdown-menu li {
    display: block; }
    .navbar-top-links .dropdown-menu li a {
      padding: 5px 15px 5px 30px;
      min-height: 0; }
      .navbar-top-links .dropdown-menu li a div {
        white-space: normal; }
  .navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0; }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0; }
  .navbar-top-links .dropdown-messages {
    margin-left: 5px; }
  .navbar-top-links .dropdown-tasks {
    margin-left: -59px; }
  .navbar-top-links .dropdown-alerts {
    margin-left: -123px; }
  .navbar-top-links .dropdown-user {
    right: 0;
    left: auto; }

.btn-outline {
  background-color: transparent;
  transition: all 0.5s; }

.btn-primary.btn-outline {
  color: #428bca; }

.btn-success.btn-outline {
  color: #2E7D32; }

.btn-info.btn-outline {
  color: #5bc0de; }

.btn-warning.btn-outline {
  color: #fbc02d; }

.btn-danger.btn-outline {
  color: #f50; }

.btn-danger {
  border-color: #ff661a; }

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff; }

.chat {
  margin: 0;
  padding: 0;
  list-style: none; }
  .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #525252; }
    .chat li .chat-body p {
      margin: 0; }
  .chat li.left .chat-body {
    margin-left: 60px; }
  .chat li.right .chat-body {
    margin-right: 60px; }

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px; }

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll; }

.login-panel {
  margin-top: 25%; }

.flot-chart {
  display: block;
  height: 400px; }

.flot-chart-content {
  width: 100%;
  height: 100%; }

.dataTables_wrapper {
  position: relative;
  clear: both; }

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: 0 0; }
table.dataTable thead .sorting_asc:after {
  content: "";
  float: right;
  font-family: fontawesome; }
table.dataTable thead .sorting_desc:after {
  content: "";
  float: right;
  font-family: fontawesome; }
table.dataTable thead .sorting:after {
  content: "";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5); }

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857; }

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33; }

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33; }

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #E4E4E4;
  background-color: #F9F9F9; }

.show-grid {
  margin: 15px 0; }

.huge {
  font-size: 40px; }

.panel-green {
  border-color: #d30022; }
  .panel-green .panel-heading {
    border-color: #d30022;
    color: #fff;
    background-color: #d30022; }
  .panel-green .text-color, .panel-green a {
    color: #d30022; }
  .panel-green a:hover {
    color: #2E7D32; }

.panel-red {
  border-color: #f50; }
  .panel-red .panel-heading {
    border-color: #f50;
    color: #fff;
    background-color: #ff661a; }
  .panel-red .text-color, .panel-red a {
    color: #f50; }
  .panel-red a:hover {
    color: #e64d00; }

.panel-yellow {
  border-color: #fbc02d; }
  .panel-yellow .panel-heading {
    border-color: #fbc02d;
    color: #fff;
    background-color: #fbc02d; }
  .panel-yellow .text-color, .panel-yellow a {
    color: #fbc02d; }
  .panel-yellow a:hover {
    color: #f0ad05; }

.panel-primary .text-color {
  color: #428bca; }

.panel-footer {
  background-color: #fff;
  border-top: none; }

.nav a.cur-sub-nav,
.nav > li.cur-nav > a {
  color: #f50; }

.sidebar {
  z-index: 99; }
  .sidebar ul li {
    border-bottom: 1px solid #E4E4E4; }
    .sidebar ul li a.active {
      background-color: #d30022;
      color: #fff; }
  .sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    background-color: #F9F9F9; }
  .sidebar .sidebar-search {
    padding: 15px; }
  .sidebar .arrow {
    float: right; }
  .sidebar .fa.arrow:before {
    content: ""; }
  .sidebar .active > a > .fa.arrow:before {
    content: ""; }
  .sidebar .nav-second-level {
    margin-bottom: 4px; }
    .sidebar .nav-second-level li {
      border-bottom: 0; }
      .sidebar .nav-second-level li a {
        padding-left: 37px;
        padding-top: 6px;
        padding-bottom: 6px; }
      .sidebar .nav-second-level li a.cur-sub-nav {
        padding-left: 21px;
        background-color: #d30022;
        color: #fff;
        position: relative; }
        .sidebar .nav-second-level li a.cur-sub-nav:before {
          content: "";
          font: normal normal normal 14px/1 FontAwesome;
          font-weight: 300; }
    .sidebar .nav-second-level li.active:before {
      content: "";
      width: 1px;
      position: absolute;
      right: -1px;
      top: 0;
      bottom: 0;
      background-color: #d30022;
      z-index: 1; }
  .sidebar .nav-third-level li {
    border-bottom: 0; }
    .sidebar .nav-third-level li a {
      padding-left: 52px; }

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    width: 185px;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    margin-top: 52px; }

  #side-menu {
    padding-bottom: 40px; }

  .sidebar-nav {
    margin-left: -185px;
    left: 185px;
    width: 185px;
    position: fixed;
    top: 51px;
    bottom: 0;
    border-radius: 0;
    border-right: 1px solid #E4E4E4;
    background-color: #fff; }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto; } }
@media (max-width: 600px) {
  .sidebar {
    margin-top: 160px; } }
.title-bar {
  color: #333;
  background-color: #F9F9F9;
  border: 1px solid #E4E4E4;
  padding: 7px 15px;
  border-radius: 3px;
  margin: 10px 0 13px 0;
  font-size: 14px; }

span.space {
  display: inline-block;
  width: 1em; }

.btn-divider {
  height: 3px; }

.btn-divider2 {
  height: 6px; }

.row-divider {
  height: 13px; }

.row-divider2 {
  height: 20px; }

.navbar-default {
  background-color: #F9F9F9;
  border-color: #E4E4E4;
  border-top: 2px solid #d30022; }

.navbar-header {
  z-index: 9999; }

.pagination {
  margin: 1px 15px 25px 10px; }

.g-icon {
  font-size: 17px; }

.nav-tabs > li > a:hover {
  border-radius: 0; }

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  border: none;
  background: none;
  padding: 8px 10px;
  margin: 0 3px; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  border-bottom: 3px solid #d30022;
  color: #2E7D32; }

.badge {
  font-weight: normal;
  background-color: #747474;
  padding: 3px 6px; }

.nav-tabs > li.active > a .badge {
  background-color: #d30022; }

.bp-loading {
  text-align: center;
  display: none; }
  .bp-loading i {
    font-size: 1.5em;
    color: #999; }

.bp-loading .title {
  font-size: 1em;
  color: #747474;
  padding: 0.5em 0.5em;
  display: block;
  text-align: center; }

.lookup-opt {
  list-style: none;
  margin: 0;
  padding: 0; }
  .lookup-opt li {
    border-bottom: 1px solid #E4E4E4;
    padding: 0.4em 0.3em; }
    .lookup-opt li p {
      display: table-cell;
      padding: 0.3em 0.4em; }
    .lookup-opt li p.img {
      width: 70px;
      height: 70px;
      vertical-align: middle;
      text-align: center; }
      .lookup-opt li p.img img {
        width: 100%;
        height: 100%; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #eee; }

.prod-id {
  color: #747474;
  font-size: 0.85em; }

.row {
  margin-left: 0;
  margin-right: 0; }

.help-block {
  font-size: 0.9em; }

.header-tip {
  font-size: 1em; }
  .header-tip em {
    font-style: normal;
    font-weight: 300; }
  .header-tip b {
    padding-left: 0.4em; }

.prod-id {
  color: #747474;
  font-size: 0.8em; }

.chart-wrapper {
  height: 235px; }

.data-box {
  margin-bottom: 20px; }
  .data-box .data-hd {
    margin-bottom: 20px;
    height: 16px;
    line-height: 16px;
    padding-left: 10px;
    border-left: 3px solid #d30022; }
    .data-box .data-hd h3, .data-box .data-hd h4 {
      font-size: 1em;
      font-weight: 700; }

.form.mini-space .form-item {
  margin-bottom: 5px; }

.form .form-group .form-item {
  float: left;
  width: 50%; }
.form .label {
  clear: both;
  float: left;
  width: 110px;
  padding-top: 4px;
  position: relative;
  color: #333;
  font-size: 1em;
  text-align: left; }

.gapl-wide {
  margin-left: 14px; }

.branches-flat a {
  float: left;
  width: 25%;
  display: inline-block;
  padding-bottom: 5px; }

.menus-flat a {
  float: left;
  width: 16.6%;
  display: inline-block;
  padding-bottom: 5px;
  position: relative; }

.text-orange {
  color: #f50; }

.text-red {
  color: #f50; }

.m-bar-bottom {
  position: fixed;
  left: 185px;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.85);
  padding: 8px 25px;
  text-align: center;
  border-top: 1px solid #E4E4E4;
  z-index: 9999; }

.m-province {
  padding: 5px 0 3px 0;
  font-size: 15px;
  color: #444; }

.admin-branch {
  padding: 0; }

.dropdown-branch {
  width: 420px;
  padding: 10px;
  max-height: 540px;
  overflow-x: hidden;
  overflow-y: auto; }

.navbar-top-links .dropdown-branch li a {
  padding: 0 5px 0 15px;
  width: 50%;
  display: block;
  float: left;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
.navbar-top-links .dropdown-branch li a.cur {
  color: #f50; }
.navbar-top-links .dropdown-branch-simple {
  width: 250px;
  max-height: 480px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px; }
  .navbar-top-links .dropdown-branch-simple li a {
    padding: 2px 5px 2px 15px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .navbar-top-links .dropdown-branch-simple li a.cur {
    color: #f50; }

.message_item {
  min-height: 46px;
  border: 1px solid #E4E4E4;
  padding: 15px 0;
  margin-top: 15px; }

.message_item:first-child {
  margin-top: 0; }

.message_info:after {
  content: "​";
  display: block;
  height: 0;
  clear: both; }

.message_status {
  float: right;
  width: 70px;
  min-height: 1em;
  margin-top: 0;
  color: #999; }
  .message_status .tips {
    display: none;
    margin-left: 1em;
    color: #f80;
    font-weight: 400;
    font-style: normal; }

.user_info {
  position: relative;
  margin-left: 80px;
  margin-right: 215px; }
  .user_info .remark_name {
    color: #747474;
    font-size: 13px; }
  .user_info .avatar {
    position: absolute;
    top: -2px;
    left: -62px; }
    .user_info .avatar img {
      width: 48px;
      height: 48px; }
    .user_info .avatar em {
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      font-size: 17px;
      font-style: normal;
      border-radius: 50%;
      background: #2E7D32;
      color: #fff;
      display: inline-block; }
    .user_info .avatar em.light {
      background: #d30022; }
    .user_info .avatar em.gray {
      background: #b8b8b8; }

.message_time {
  float: right;
  width: 140px;
  margin-top: 0;
  color: #999; }

.message_content {
  margin-left: 80px;
  margin-right: 260px;
  padding-top: 6px;
  color: #525252;
  word-wrap: break-word;
  word-break: break-all; }

.message_content.text {
  padding-top: 2px;
  padding-bottom: 2px; }

.wxMsg img {
  max-width: 180px; }

@media (max-width: 768px) {
  .m-bar-bottom {
    left: 0; }

  .navbar-top-links .dropdown-branch {
    width: 250px;
    max-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px; }
    .navbar-top-links .dropdown-branch li a {
      padding: 0 5px 0 15px;
      width: 100%;
      display: block;
      float: left;
      cursor: pointer; }

  .message_content {
    margin-right: 20px; }

  .message_status {
    width: 0; }

  .user_info {
    margin-right: 150px; } }
.myevent .dropdown-messages b {
  color: #525252; }
.myevent .dropdown-messages .badge {
  background-color: #b8b8b8;
  margin-right: 4px;
  font-size: 12px;
  padding: 2px 5px; }
.myevent .dropdown-messages .light {
  position: relative; }
  .myevent .dropdown-messages .light b {
    color: #f50; }
  .myevent .dropdown-messages .light .badge {
    background-color: #f80; }
.myevent .dropdown-messages .light:before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url("../images/ico_hot.png") no-repeat center center;
  background-size: 100% 100%;
  top: 6px;
  left: 3px; }

.dropdown-toggle span {
  position: relative; }
.dropdown-toggle span.unread:after {
  content: " ";
  background: #f50;
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 3px;
  top: -2px;
  right: -5px; }

ul.dropdown-weather li {
  width: 225px;
  overflow: hidden;
  padding: 10px 0;
  border-top: 1px solid #E4E4E4; }
  ul.dropdown-weather li .img-wrap {
    padding: 0 5px;
    text-align: center; }
    ul.dropdown-weather li .img-wrap img {
      width: 50px;
      height: 50px; }
  ul.dropdown-weather li .text {
    padding: 0; }
ul.dropdown-weather li:first-child {
  border-top: none; }

.navbar-brand {
  padding: 10px 15px; }

.w-show {
  position: relative;
  text-align: center;
  padding: 4px;
  height: 400px;
  width: 400px; }
  .w-show .title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 300; }
  .w-show .w-image-big {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    transform: translateY(-50%); }

.seek-wrapper .header {
  font-size: 0.9em;
  color: #747474;
  line-height: 30px; }
  .seek-wrapper .header b {
    font-weight: 500; }
.seek-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0 0 40px 0; }
  .seek-wrapper ul li {
    cursor: pointer;
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #E8E8E8; }
    .seek-wrapper ul li h4 {
      font-weight: 500;
      font-size: 1em;
      margin: 0;
      line-height: 22px; }
      .seek-wrapper ul li h4 small {
        font-size: 1em;
        font-weight: 300;
        color: #747474; }
    .seek-wrapper ul li h5 {
      font-weight: 300;
      font-size: 0.9em;
      margin: 0; }
.seek-wrapper ul.seek-goods-result li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .seek-wrapper ul.seek-goods-result li .img {
    -webkit-box-flex: 0 0 64px;
    -webkit-flex: 0 0 64px;
    -ms-flex: 0 0 64px;
    flex: 0 0 64px;
    text-align: center; }
    .seek-wrapper ul.seek-goods-result li .img img {
      width: 50px;
      height: 50px; }
  .seek-wrapper ul.seek-goods-result li .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .seek-wrapper ul.seek-goods-result li .title em {
      font-style: normal;
      color: #f50; }
    .seek-wrapper ul.seek-goods-result li .title em:before {
      content: "￥";
      font-size: 1rem;
      color: #f50; }

.cart-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .cart-item .btn-del {
    display: inline-block;
    font-size: 0.9em;
    color: #428bca;
    text-align: center;
    margin-bottom: 0.4em; }
  .cart-item .img {
    -webkit-box-flex: 0 0 50px;
    -webkit-flex: 0 0 50px;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center; }
    .cart-item .img img {
      width: 50px;
      height: 50px; }
  .cart-item .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 15px; }
    .cart-item .title h4 {
      font-weight: 500;
      font-size: 1em;
      margin: 0;
      line-height: 22px; }
      .cart-item .title h4 small {
        font-weight: 300;
        font-size: 0.9em; }
    .cart-item .title h5 {
      font-weight: 300;
      font-size: 1em;
      margin: 0; }
    .cart-item .title em {
      font-style: normal;
      color: #f50; }
    .cart-item .title em:before {
      content: "￥";
      font-size: 1rem;
      color: #f50; }
    .cart-item .title input {
      border: 1px solid #C4C4C4;
      border-radius: 2px;
      width: 98%;
      font-size: 1em; }
  .cart-item .action {
    -webkit-box-flex: 0 0 7em;
    -webkit-flex: 0 0 7em;
    -ms-flex: 0 0 7em;
    flex: 0 0 7em;
    align-items: center;
    align-self: center;
    text-align: center; }
    .cart-item .action input {
      border: 1px solid #C4C4C4;
      border-radius: 2px;
      font-size: 1em;
      text-align: center; }

.file-upload-box {
  padding: 10px;
  position: relative; }
  .file-upload-box .file-review {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 100px; }
    .file-upload-box .file-review img {
      width: 100%;
      height: 100%; }
    .file-upload-box .file-review .del {
      position: absolute;
      background: url("../images/ico_mark_del.png") no-repeat center center;
      background-size: 100% 100%;
      display: inline-block;
      width: 26px;
      height: 26px;
      top: -12px;
      right: -16px; }
  .file-upload-box .file-wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 100px;
    border: 2px dashed #ddd;
    line-height: 88px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 36px;
    color: #ddd;
    cursor: pointer;
    overflow: hidden; }
    .file-upload-box .file-wrapper:before, .file-upload-box .file-wrapper:after {
      content: " ";
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: #ccc; }
    .file-upload-box .file-wrapper:before {
      width: 1px;
      height: 24px;
      margin-top: -11px; }
    .file-upload-box .file-wrapper:after {
      width: 24px;
      height: 1px;
      margin-left: -11px; }
    .file-upload-box .file-wrapper input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      direction: rtl;
      font-size: 23px;
      opacity: 0;
      cursor: pointer; }

ul.features {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px; }
  ul.features li {
    padding: 10px 15px; }
    ul.features li.text {
      position: relative; }
      ul.features li.text textarea {
        width: 100%;
        height: 100px;
        border: 1px solid #ddd;
        border-radius: 2px; }
      ul.features li.text .m-del {
        position: absolute;
        background: url("../images/ico_mark_del.png") no-repeat center center;
        background-size: 100% 100%;
        display: inline-block;
        width: 26px;
        height: 26px;
        top: -8px;
        right: -2px; }
    ul.features li.image .file-upload-box {
      padding: 0; }
      ul.features li.image .file-upload-box .m-del {
        position: absolute;
        background: url("../images/ico_mark_del.png") no-repeat center center;
        background-size: 100% 100%;
        display: inline-block;
        width: 26px;
        height: 26px;
        top: -17px;
        right: -17px; }
      ul.features li.image .file-upload-box .file-review {
        top: 0;
        left: 0; }
      ul.features li.image .file-upload-box .file-wrapper,
      ul.features li.image .file-upload-box .file-review {
        width: 100%;
        height: 220px; }

.m-dummy {
  background-color: #f0ad05;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  padding: 0 3px; }

.m-status-0, .m-status-1, .m-status-2, .m-status-3, .m-status-7, .m-status-8, .m-status-9,
.m-cert-1, .m-sub-0, .m-sub-1 {
  color: #fff !important;
  border-radius: 3px !important;
  display: inline-block !important;
  font-size: 10px !important;
  padding: 0 2px !important;
  border: none !important;
  margin: 0 !important; }

.m-status-0, .m-status-3 {
  background: #b8b8b8; }

.m-status-2, .m-status-8 {
  background: #f80; }

.m-sub-0 {
  background: #f24; }

.m-status-7, .m-status-9 {
  background: #999; }

.m-status-1, .m-cert-1 {
  background: #d30022; }

.m-cert-1 {
  background: #2E7D32; }

.m-subst-1, .m-subst-2, .m-subst-3, .m-subst-4 {
  border-radius: 3px !important;
  display: inline-block !important;
  font-size: 10px !important;
  padding: 0 2px !important;
  margin: 0 !important; }

.m-subst-1 {
  color: #d30022 !important;
  border: 1px solid #d30022 !important; }

.m-subst-2 {
  color: #428bca !important;
  border: 1px solid #428bca !important; }

.m-subst-3 {
  color: #f80 !important;
  border: 1px solid #f80 !important; }

.m-subst-4 {
  color: #f24 !important;
  border: 1px solid #f24 !important; }

.m-list {
  margin: 0;
  padding: 0;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  list-style: none; }
  .m-list li {
    border-bottom: 1px solid #E4E4E4;
    padding: 5px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .m-list li:last-child {
      border-bottom: none; }
    .m-list li .content {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding-right: 5px; }
      .m-list li .content h4 {
        font-size: 15px;
        font-weight: 500; }
    .m-list li .right {
      font-size: 12px;
      color: #747474;
      -webkit-box-flex: 0 0 11rem;
      -webkit-flex: 0 0 11rem;
      -ms-flex: 0 0 11rem;
      flex: 0 0 11rem; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 10px;
  padding-left: 10px; }

/*# sourceMappingURL=admin.css.map */
