body, html {
	/*font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	font-family: 'Microsoft YaHei';
}

body, html, a, p, ul, div, h4, h5, h6 {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.home {
	display: none;
}

.pcpage {
	/* #f26a5b, #f24f83 */
	/* #f26a5b, #f24f83 */
	background: -webkit-linear-gradient(left, #f26a5b, #f24f83);
	background: -o-linear-gradient(left, #f26a5b, #f24f83);
	background: -moz-linear-gradient(left, #f26a5b, #f24f83);
	background: -ms-linear-gradient(left, #f26a5b, #f24f83);
	background: linear-gradient(left, #f26a5b, #f24f83);
	position: fixed;
	width: 100%;
	height: 100%;
}

.pcpage .navs {
	position: absolute;
	right: 40px;
	top: 40px;
	color: #fff;
	z-index: 9;
	font-size: 16px
}

.pcpage .navs span {
	display: none;
}

.pcpage .navs a {
	color: #fff;
	cursor: pointer
}

.pcpage .next, .pcpage .prev {
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	opacity: .5
}

.pcpage .next:hover, .pcpage .prev:hover {
	opacity: 1
}

.pcpage .prev {
	left: 0;
	background: url(../images/prev.png) no-repeat center;
	-webkit-background-size: 50px 91px;
	-moz-background-size: 50px 91px;
	-ms-background-size: 50px 91px;
	-o-background-size: 50px 91px;
	background-size: 50px 91px
}

.pcpage .next {
	right: 0;
	background: url(../images/next.png) no-repeat center;
	-webkit-background-size: 50px 91px;
	-moz-background-size: 50px 91px;
	-ms-background-size: 50px 91px;
	-o-background-size: 50px 91px;
	background-size: 50px 91px
}

.pcpage .logo {
	position: absolute;
	left: 65px;
	top: 25px;
	background: url(../images/logo_white4.png) no-repeat left;
	-webkit-background-size: 150px 65px;
	-ms-background-size: 150px 65px;
	-moz-background-size: 150px 65px;
	-o-background-size: 150px 65px;
	background-size: 150px 65px;
	height: 65px;
	line-height: 65px;
	padding-left: 150px;
	font-size: 24px;
}

.pcpage .h1 {
	display: none;
	width: 143px;
	height: 38px;
	background: url(../images/logo_words2.png);
	-webkit-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	left: 155px;
	top: 35px
}

.pcpage .phone {
	background: url(../images/iPhone@2x.png);
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	background-size: 100% 100%;
	width: 269px;
	height: 520px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -320px
}

.pcpage .phone .screen {
	position: absolute;
	width: 245px;
	height: 427px;
	background: #000;
	top: 60px;
	left: 12px;
	border-radius: 2px;
	overflow: hidden
}

.pcpage .phone .screen ul {
	width: 400%;
	height: 100%;
	position: absolute
}

.pcpage .phone .screen ul li {
	float: left;
	width: 25%;
	height: 100%
}

.pcpage .phone .screen ul li img {
	width: 100%;
	height: 100%
}

.pcpage .phone .component {
	position: absolute
}

.pcpage .right {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: 10px;
	width: 480px
}

.pcpage .words {
	color: #fff;
	font-size: 66px;
	font-weight: 600;
	transform-origin: 0 0;
	transform: translateY(0px);
	position: relative;
	height: 210px
}

.pcpage .words p {
	position: absolute;
	left: 0;
	top: 0
}

.pcpage .words span {
	display: block;
	font-weight: 400
}

.pcpage .app {
	padding-left: 148px;
	position: relative;
	padding-bottom: 80px;
	min-height: 124px;
}

.pcpage .app .wx {
	width: 160px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	color: #fff;
	font-size: 12px
}

.pcpage .app .wx img {
	width: 160px;
	height: 160px;
	margin-bottom: 5px
}

.wx span {
	font-size: 15px;
}

.pcpage .app a {
	display: block;
	width: 195px;
	height: 62px;
	border-radius: 5px;
	color: #fff;
	line-height: 63px;
	font-size: 24px;
	text-indent: 88px
}

.pcpage .app a:nth-of-type(1) {
	margin-bottom: 15px
}

.pcpage .app a.iphone {
	display: none;
	background: url(../images/iOS@2x.png) no-repeat 35px 12px #313131;
	-webkit-background-size: 30px 35px;
	-ms-background-size: 30px 35px;
	-moz-background-size: 30px 35px;
	-o-background-size: 30px 35px;
	background-size: 30px 35px
}

.pcpage .app a.android {
	display: none;
	background: url(../images/android@2x.png) no-repeat 35px 15px #313131;
	-webkit-background-size: 28px 33px;
	-ms-background-size: 28px 33px;
	-moz-background-size: 28px 33px;
	-o-background-size: 28px 33px;
	background-size: 28px 33px
}

.pcpage .dots {
	padding-bottom: 20px
}

.pcpage .dots span {
	display: block;
	background: #fe96a3;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin-right: 20px;
	float: left;
	cursor: pointer
}

.pcpage .dots span.on {
	background: #fff
}

.pcpage .footers {
	padding-bottom: 10px;
	clear: both;
	color: #fff;
	line-height: 1.5
}

@media screen and (min-width: 1368px) {
	.pcpage .phone {
		height: 600px;
		width: 331px;
		margin-left: -380px
	}

	.pcpage .phone .screen {
		width: 307px;
		height: 520px;
		top: 60px;
		left: 12px
	}

	.pcpage .phone .pg1c {
		width: 430px;
		height: 71px;
		left: -56px;
		top: 440px
	}

	.pcpage .phone .pg2c {
		width: 430px;
		height: 94px;
		left: -56px;
		top: 295px
	}

	.pcpage .phone .pg3c {
		top: 365px
	}

	.pcpage .phone .pg4chb {
		width: 360px;
		height: 260px;
		top: 90px;
		left: -15px
	}

	.pcpage .phone .pg4cmp {
		width: 350px;
		height: 122px;
		bottom: 14px;
		left: 0
	}
}

@media screen and (min-width: 1600px) {
	.pcpage .phone {
		height: 722px;
		width: 374px;
		margin-left: -460px
	}

	.pcpage .phone .screen {
		width: 349px;
		height: 620px;
		top: 70px;
		left: 12px
	}

	.pcpage .phone .pg1c {
		width: 470px;
		height: 78px;
		left: -53px;
		top: 520px
	}

	.pcpage .phone .pg2c {
		width: 470px;
		height: 103px;
		left: -53px;
		top: 365px
	}

	.pcpage .phone .pg3c {
		top: 438px
	}

	.pcpage .phone .pg4chb {
		width: 447px;
		height: 327px;
		top: 105px;
		left: -30px
	}

	.pcpage .phone .pg4cmp {
		width: 434px;
		height: 157px;
		bottom: 24px;
		left: -2px
	}

	.pcpage .right {
		padding-bottom: 10px
	}

	.pcpage .right .words {
		height: 240px
	}

	.pcpage .right .app {
		padding-bottom: 120px
	}

	.pcpage .right .dots {
		padding-bottom: 30px
	}
}

/********* homepage **********/
@media screen and (max-width: 800px) {
	.pcpage {
		display: none !important;
	}

	.homepage {
		display: block !important;
		height: 100vh !important;
	}

	html, body {
		font-size: 10vw !important;
	}

}

@media screen and (min-width: 800px) {
	.pcpage {
		display: block !important;
	}

	.homepage {
		display: none !important;
		height: 100vh !important;
	}

	html, body {
		font-size: 1vw !important;
	}

}

.homepage {
	background: url(../images/bg2x.png) top repeat-y;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	width: 100%;
	overflow: hidden
}

.homepage .clewEl {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99999;
	background: #fff
}

.homepage .clewEl span {
	border: #feb7ac 1px solid;
	border-radius: 10px;
	padding: 10px;
	line-height: 24px;
	width: 150px;
	display: block;
	padding-left: 40px;
	background: url(//zlpic.1meipo.com/spa/home/rotate.png) no-repeat 10px 10px;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
	color: #feb7ac;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -95px;
	margin-top: -23px
}

.homepage .loading {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none
}

.homepage .loading .bg {
	background: #fff;
	width: 100%;
	height: 100%
}

.homepage .loading .progress {
	width: 160px;
	height: 40px;
	background: #fff;
	background: url(//zlpic.1meipo.com/spa/loading.gif) no-repeat top;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	top: 50%;
	margin-top: -50px
}

.homepage .loading .progress div {
	width: 100%;
	height: 2px;
	border: #fe8775 1px solid;
	border-radius: 2px
}

.homepage .loading .progress div span {
	display: block;
	height: 100%;
	background: #ffcdc5;
	width: 0
}

.homepage .loading p {
	color: #999;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	margin-bottom: 5px
}

.homepage .dots2 {
	width: .16rem;
	right: .53333333rem;
	bottom: 50%;
	position: fixed
}

.homepage .dots2 span {
	background: #fff;
	width: 100%;
	height: .16rem;
	border-radius: .08rem;
	margin: .16rem 0;
	display: block;
	transition: .3s all linear;
	-webkit-transition: .3s all linear
}

.homepage .dots2 .on {
	height: .93333333rem
}

.homepage .page_title {
	font-size: .85333333rem;
	color: #29272a;
	text-align: center;
	line-height: .85333333rem;
	padding: 0.86666667rem 0 .4rem;
	text-shadow: #f0a194 2px 2px 2px
}

.homepage .page_ctitle {
	text-align: center;
	color: #29272a;
	font-size: .4rem
}

.homepage .page_box {
	background: #fff;
	width: 16rem;
	height: 16.8rem;
	margin: 0 auto;
	border-radius: 10px;
	padding: 1.06666667rem 0;
	box-sizing: border-box;
	box-shadow: rgba(166, 0, 6, .2) 0 10px 20px
}

.homepage .pagebox {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0
}

.homepage .pagebox.animate {
	-webkit-transition: .3s all linear;
	transition: .3s all linear
}

.homepage .pagebox > div {
	width: 100%;
	height: 100%;
	overflow: hidden;
	float: left
}

.homepage .page .content img {
	width: 4.5rem;
	height: 8rem;
	position: absolute;
	left: .75rem;
	top: 1.5rem;
}

.homepage .page .content {
	width: 6rem;
	height: 10rem;
	background: url(../images/iPhone@2x.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin: .5rem auto 0;
	position: relative;
}

.homepage .page .content:before {
	content: '';
	position: absolute;
	/*background: url(../images/qr-wm10.jpg) no-repeat center center;*/
	background-size: 100% 100%;
	width: 2rem;
	height: 2rem;
	top: 7rem;
	left: -2rem;
}

/*
.homepage .page1 .content {
	width: 6rem;
	height: 9rem;
	background: url(../images/mp_1.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin: 1.33333333rem auto 0
}

.homepage .page2 .content {
	width: 6rem;
	height: 9rem;
	background: url(../images/mp_2.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin: 1.33333333rem auto 0
}

.homepage .page3 .content {
	width: 6rem;
	height: 9rem;
	background: url(../images/mp_3.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin: 1.33333333rem auto 0
}

.homepage .page4 .content {
	width: 6rem;
	height: 9rem;
	background: url(../images/mp_4.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin: 1.33333333rem auto 0
}*/

.homepage .page5 {
}

.homepage .page5 .page5_title {
	text-align: center;
	font-size: .85333333rem;
	color: #29272a;
	padding: 2rem 0 .6rem
}

.homepage .page5 .meipo_slogon {
	background: url(../images/qr-wm10.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	width: 4.2rem;
	height: 4.2rem;
	margin: 0 auto
}

.homepage .page5 .app {
	width: 6.29333333rem;
	height: 1rem;
	display: block;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	font-size: 0.3rem;
	text-align: center;
	margin: .6rem auto;
}

.homepage .page5 .form{
	margin: 0 1.5rem;
}
.homepage .page5 .form .form-group{
	height: 31px;
}
.homepage .page5 .form .form-group label{
	display: inline-block;
	font-size: .4rem;

	position: relative;
	top: -.4rem;

}
.homepage .page5 .form .form-group select{
	background-color: white;
	font-family: inherit;
	border: 1px solid #eee;
	box-sizing: content-box;
	width: 4rem;
	height: .6rem;
	font-size: .3rem;

	position: relative;
	top: -.4rem;
}
.homepage .page5 .form .form-group select option{}
.homepage .page5 .form a{
	background: #ec7d6e;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: .15rem .4rem;
	border-radius: .1rem;
	margin-top: 1rem;
	font-size: .4rem;
	margin-left: 2rem;
}
.homepage .page5 .form .form-group input{
	background-color: white;
	font-family: inherit;
	border: 1px solid #eee;
	box-sizing: content-box;
	width: 4rem;
	height: .6rem;
	font-size: .3rem;

	position: relative;
	top: -.4rem;
}
.homepage .page5 .form .form-group span{
	font-size: .3rem;
	color: red;
	display: inherit;
	margin-left: 2.3rem;
	position: relative;
	top: -.3rem;
}

.homepage .arraw {
	display: block;
	width: 35px;
	height: 58px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -18px;
	z-index: 20;
	background: url(../images/down1.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	-webkit-animation: bounceIn 1s linear infinite;
	animation: bounceIn 1s linear infinite
}


